body { background-color: #ffffc9 }
a:link { color: blue } /* links não visitados */
a:visited { color: purple } /* links visitados */
a:hover { font-weight: bold } /* user hovers */
a:active { color: lime } /* links ativos */

div{
    height: 200px;
    width: 200px;
    background-color: #f0d7d7;
    margin: auto;

    border-color: brown;
    border-style: solid;

outline-style: solid;
    outline-color: blue;
    border-width: 15px;
    outline-width: 15px;
    
}
